/*

	IAT 381: D401
	Project 3: Portfolio
	Janice Ng

	CSS: Mobile Query

	Tablet: 1.Grid 3.Layout 4.IndexPage 5.AboutPage
	Mobile: 1.Base 2.Grid 3.Layout 4.IndexPage 5.AboutPage

*/

/*	<!-- Make mobile view visible -->
	<meta name="viewport" content="width=device-width" />*/

/*	<!-- Media Query: Mobile  -->
	<link rel="stylesheet" media="(max-width: 640px)" type="text/css" href="./css/mobile.css" />*/

/* === TABLET MEDIA QUERY START === */
@media only screen and (min-width: 641px) and (max-width: 1000px) {

html, body {
	background-size: 100%;
	background-color: orange;
}

/* ================================================================ 
	BASE START 
================================================================  */

	/* ========== FONT ========== */	

	h2 {
		font-size: 1.8em;
		color: #5ECBF4;
	}

/* ================================================================ 
	BASE END 
================================================================  */



/* ================================================================ 
	GRID START
================================================================  */

/* ========== COLUMNS ========== */

/* ---------- INDEX PAGE ---------- */
#home .column1_tablet, #home .column2_tablet, #home .column3_tablet {
	display: inline-block;
	text-align: center;
	width: 31.5%;
	padding: .2em;
}

	/* DESKOP DISPLAY NONE */
	#home .column1, #home .column2, #home .column3 {
		display: none;
	}

/* ---------- ABOUT PAGE ---------- */
#about .column1, #about .column2, #about .column3, #about .column4 {
	padding: 0 .5em;
}

/* ---------- WORKS PAGE: IMAGES ---------- */
#invisiblechildren .column1_tablet,  
#pavilionofliterature .column1_tablet, 
#ysclogo .column1_tablet, 
#sis .column1_tablet, /*#sis .column2,*/ 
#airlog .column1_tablet, /*#airlog .column2,*/
#pouch .column1_tablet, 
#loricatuslumardeus_tablet .column1, /*#loricatuslumardeus .column2,*/
#monsteropener .column1_tablet, 
#emocube .column1_tablet /*, #emocube .column2 */{
	width: 27%;
	float: left;
	display: inline-block;
	text-align: center;
}

	#invisiblechildren .column2,
	#pavilionofliterature .column2, 
	#ysclogo .column2,
	#sis .column2,
	#airlog .column2,
	#pouch .column2, 
	#monsteropener .column2 {
		width: 68%;
		height: auto;
		padding: 0 0 0 1.5em;
	}

	/* DESKTOP DISPLAY NONE */
	#invisiblechildren .column1,
	#pavilionofliterature .column1,
	#ysclogo .column1,
	#sis .column1,
	#airlog .column1,
	#pouch .column1,
	#loricatuslumardeus .column1,
	#monsteropener .column1,
	#emocube .column1 {
		display: none;
	}

/* ---------- WORKS PAGE: VIDEOS ---------- */

/*	#sis .column2,
	#airlog .column2,
	#loricatuslumardeus .column2,
	#emocube .column2 {
		max-width: 70%;
		height: auto;
		padding: 0 0 0 1.5em;
	}*/

/* ========== ROWS ========== */
.graphics, .interactions, .products {
	clear: both;
}

/* ================================================================ 
	GRID END
================================================================  */


/* ================================================================ 
	LAYOUT START
================================================================  */

/* ========== HEADER ========== */

.logo img {
	max-width: 70%;
	width: 258px;
	height: auto;
}

/* ========== FOOTER ========== */

	footer p {
		font-size: 1.3em;
	}

	.footerwrapper ul {
		margin-top: -3.5em;
	}

/* ========== CONTENT ========== */
.content {
	padding: .2em;
}

.title {
	overflow: hidden;
}

.text {
	float: left;
	padding: .3em;

}

/* ========== WRAPPER ========== */
.wrapper {
	padding-top: 1.8em;
}

.descriptionsright img, 
#invisiblechildren .column2 img, 
#pavilionofliterature .column2 img,
#ysclogo .column2 img, 
#pouch .column2 img, 
#monsteropener .column2 img {
	max-width: 99.5%;
	width: auto;
	height: auto;
	border: 1.9px solid #5ECBF4;
}

/* ================================================================ 
	LAYOUT END
================================================================  */


/* ================================================================ 
	INDEX PAGE START 
================================================================  */

/* ========== IMAGES ========== */
#home .images {
	width: 100%;
}

/* ================================================================ 
	INDEX PAGE END 
================================================================  */


/* ================================================================ 
	ABOUT PAGE START 
================================================================  */

/* ========== CONTENT ========== */
.aboutmedescriptions {
	width: 100%;
}

	.aboutmedescriptions p {
		font-size: 1.3em;
	}

/* ================================================================ 
	ABOUT PAGE END 
================================================================  */



/* ================================================================ 
	WORKS PAGE START 
================================================================  */

/* ========== IMAGES ========== */

.images {
	float: left;
	overflow: hidden;
	margin-top: 2em;
}

/* ========== VIDEOS ========== */

/* =========================================================
 * Video Responsive CSS Styles
 * Based on code found here: http://amobil.se/2011/11/responsive-embeds/
 * ========================================================= */

.video {
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border: 1.9px solid #5ECBF4;
}

	.video iframe,
	.video object,
	.video embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    border: none;
	}

/* ========== CONTENT ========== */

.descriptionsleft {
	width: 27%;
	padding: 3.5em 0 0 1.2em;
}

.descriptionsright {
	width: 68%;
	padding: 3.5em 0 0 0;
}

	.descriptionsleft p, .descriptionsright p{
		font-size: 1.3em;
		padding-bottom: 1.5em;
	}

.moreworks {
	margin-top: 3em;
}

	.moreworks h4 {
		padding-top: .5em;
		font-size: 1.3em;
	}

/* ================================================================ 
	WORKS PAGE END 
================================================================  */


}
/* === TABLET MEDIA QUERY END === */





/* === MOBILE MEDIA QUERY START === */
@media only screen and (max-width: 640px) {

html, body {
	background-size: 100%;
	/*background-color: orange;*/
}


/* ================================================================ 
	BASE START 
================================================================  */

.container {
	padding: .5em;
}

	/* ========== FONT ========== */	
	h1 {
		font-size: 2em;
		color: #5ECBF4;
	}

	h2 {
		font-size: 1.5em;
		color: #5ECBF4;
	}

	h3 {
		font-size: 1.6em;
		font-weight: bold;
		color: #000000;
	}

	h4 {
		font-size: 1.3em;
		font-weight: bold;
		color: #000000;
	}

/* ================================================================ 
	BASE END
================================================================  */



/* ================================================================ 
	GRID START
================================================================  */

/* ========== COLUMNS ========== */

/* ---------- INDEX PAGE ---------- */
#home .column1_mobile, #home .column2_mobile, #home .column3_mobile {
	display: block;
	text-align: center;
	clear: both;
}

	/* DESKTOP DISPLAY NONE */
	#home .column1, #home .column2, #home .column3 {
		display: none;
	}

/* ---------- ABOUT PAGE ---------- */
#about .column1_mobile, #about .column2_mobile, #about .column3_mobile, #about .column4_mobile {
	display: block;
}

	/* DESKTOP DISPLAY NONE */
	#about .column1, #about .column2, #about .column3, #about .column4 {
		display: none;
	}

/* ---------- WORKS PAGE: IMAGES ---------- */
#invisiblechildren .column1_mobile, #invisiblechildren .column2, 
#pavilionofliterature .column1_mobile, #pavilionofliterature .column2, 
#ysclogo .column1_mobile, #ysclogo .column2,
#sis .column1_mobile, /*#sis .column2,*/ 
#airlog .column1_mobile, /*#airlog .column2,*/
#pouch .column1_mobile, #pouch .column2,
#loricatuslumardeus .column1_mobile, /*#loricatuslumardeus .column2,*/
#monsteropener .column1_mobile, #monsteropener .column2,
#emocube .column1_mobile /*, #emocube .column2 */{
	display: block;
	text-align: center;
	padding: 0;
}

	/* DESKTOP DISPLAY NONE */
	#invisiblechildren .column1,
	#pavilionofliterature .column1,
	#ysclogo .column1,
	#sis .column1,
	#airlog .column1,
	#pouch .column1,
	#loricatuslumardeus .column1,
	#monsteropener .column1,
	#emocube .column1 {
		display: none;
	}

/* ---------- WORKS PAGE: VIDEOS ---------- */

	#sis .column2,
	#airlog .column2,
	#loricatuslumardeus .column2,
	#emocube .column2 {
		max-width: 100%;
		height: auto;
		padding: 0;
	}

/* ========== ROWS ========== */
.graphics, .interactions, .products {
	clear: both;
}

/* ================================================================ 
	GRID END
================================================================  */



/* ================================================================ 
	LAYOUT START
================================================================  */

/* ========== HEADER ========== */

.logo img {
	max-width: 70%;
	width: 258px;
	height: auto;
}


/* ========== NAVBAR ========== */

nav ul {
	width: 40%;
	/*max-width: 100%;
	width: auto;*/
	/*margin-top: -6.2em;*/
	margin-top: -7em;
}

nav ul li {
	display: block;
	font-size: 2em;
	padding-left: .5em;
	margin-bottom: .2em;
}

/* ========== FOOTER ========== */

	footer p {
		font-size: 1.3em;
	}

	.footerwrapper ul {
		margin-top: -3.5em;
	}

/* ========== CONTENT ========== */
.content {
	padding: .2em;
}

.title {
	overflow: hidden;
}

.text {
	float: left;
	padding: .3em;

}

/* ========== WRAPPER ========== */
.wrapper {
	padding-top: 1.8em;
}

.descriptionsright img, 
#invisiblechildren .column2 img, 
#pavilionofliterature .column2 img,
#ysclogo .column2 img, 
#pouch .column2 img, 
#monsteropener .column2 img {
	max-width: 99.5%;
	width: auto;
	height: auto;
	border: 1.9px solid #5ECBF4;
}

/* ================================================================ 
	LAYOUT END
================================================================  */



/* ================================================================ 
	INDEX PAGE START 
================================================================  */

/* ========== IMAGES ========== */
#home .images {
	width: 100%;
}

/* ================================================================ 
	INDEX PAGE END 
================================================================  */



/* ================================================================ 
	ABOUT PAGE START 
================================================================  */

/* ========== CONTENT ========== */
.aboutmedescriptions {
	width: 100%;
}

	.contact ul li{
		padding-right: 1em;
	}

/* ========== IMAGES ========== */
#about .images {
	width: 100%;
	float: right;
	margin-top: 0;
}

	#about .images img {
		max-width: 100%;
		width: 240px;
		height: auto;
		margin: 1em 0;
	}

/* ================================================================ 
	ABOUT PAGE END 
================================================================  */



/* ================================================================ 
	WORKS PAGE START 
================================================================  */

/* ========== IMAGES ========== */

.images {
	float: left;
	overflow: hidden;
	margin-top: 2em;
}

/* ========== VIDEOS ========== */

/* =========================================================
 * Video Responsive CSS Styles
 * Based on code found here: http://amobil.se/2011/11/responsive-embeds/
 * ========================================================= */

.video {
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border: 1.9px solid #5ECBF4;
}

	.video iframe,
	.video object,
	.video embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    border: none;
	}

/* ========== CONTENT ========== */

.descriptionsleft {
	/*text-align: center;*/
	width: 100%;
	padding: 1.5em 0;
}

.descriptionsright {
	width: 100%;
	float: left;
	padding: 0;
}

	.descriptionsleft p, .descriptionsright p{
		font-size: 1.3em;
		padding-bottom: 1.5em;
	}

.moreworks {
	margin-top: 3em;
}

	.moreworks h4 {
		padding-top: .5em;
		font-size: 1.3em;
	}

/* ================================================================ 
	WORKS PAGE END 
================================================================  */

}
/* === MOBILE MEDIA QUERY END === */