/*

	IAT 381: D401
	Project 3: Portfolio
	Janice Ng

	CSS: Mobile Query

*/

/*	<!-- Make mobile view visible -->
	<meta name="viewport" content="width=device-width" />*/

/*	<!-- Media Query: Mobile  -->
	<link rel="stylesheet" media="(max-width: 640px)" type="text/css" href="./css/mobile.css" />*/

/* === MOBILE MEDIA QUERY START === */
@media only screen and (max-width: 640px) {

html, body {
	background-size: 100%;
	background-color: orange;
}


/* ================================================================ 
	BASE FILE START 
================================================================  */

	/* ========== FONT ========== */	
	h2 {
		font-size: 1.5em;
		color: #5ECBF4;
	}

	h3 {
		font-size: 1.6em;
		font-weight: bold;
		color: #000000;
	}

	h4 {
		font-size: 1.2em;
		font-weight: bold;
		color: #000000;
	}

	h5 {
		font-size: 1.3em;
		text-align: center;
		/*color: #5ECBF4;*/
		color: #000000;
		padding: .5em;
	}

/* ================================================================ 
	BASE FILE END
================================================================  */