/*

	IAT 381: D401
	Project 3: Portfolio
	Janice Ng

	CSS file: Main Style

	1.Base 2.Grid 3.Layout 4.Links 5.Index

*/

/* ================================================================ 
	BASE START 
================================================================  */

html, body {
	font-family: 'Istok Web', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400px;
	color: #000000;
/*	background-color: #DAE6EA;*/
	background-color: #DEE6EA;
}

html, body, ul, ol, li, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, p {
	border: 0;
	margin: 0;
	padding: 0;
}

	/* ========== FONT ========== */	
	h1 {
		font-size: 2.8em;
		color: #5ECBF4;
	}

li {
	list-style: none;
}

/* ================================================================ 
	BASE END 
================================================================  */



/* ================================================================ 
	GRID START
================================================================  */

/* ========== CONTAINER ========== */
.container {
	margin: 0px auto;
	max-width: 960px;
/*	border: 1px solid black;*/
}

/* ========== COLUMNS ========== */
.column1, .column2, .column3 {
	float: right;
	padding-left: 3.5em;
}

/* ========== ROWS ========== */
.graphics, .interactions, .products {
/*	border: 1px solid orange;*/
	clear: both;
}

/* ================================================================ 
	GRID END
================================================================  */



/* ================================================================ 
	LAYOUT START
================================================================  */

/* ========== HEADER ========== */
header {
	margin-bottom: 4em;
	overflow: hidden;
}

	.logo {
		width: 75%;
		/*text-align: left;*/
		float: left;
		padding-top: 2em;
	}

	.logo img {
		width: 30%;
		height: auto;
	}

/* ========== NAVBAR ========== */
nav {
	text-align: right;
}

	/* full line */
	/*nav ul {
		width: 78%;
		float: right;
		padding-top: 1.2em;
		margin-top: -6.75em;
		border-top: 4px solid black;
	}*/

	/* medium line */
	/*nav ul {
		width: 30%;
		float: right;
		padding-top: 1.2em;
		margin-top: -6.75em;
		border-top: 4px solid black;
	}*/

	/* short line */
	nav ul {
		width: 30%;
		float: right;
		margin-top: -6em;
	}

	nav ul li {
		display: inline;
		font-size: 1.6em;
		font-weight: bold;
		padding: .1em 0 0 2em;
		margin-left: 1em;
		border-top: 4px solid black;
}

/* ========== FOOTER ========== */
.footerwrapper {
	text-align: center;
	padding-top: 1em;
	margin-top: 3em;
	border-top: 1px solid black;
}

	footer p {
		font-size: 1.2em;
		padding-bottom: 1em;
	}

/* ========== WRAPPER ========== */
.wrapper {
	padding-top: 2em;
	border-bottom: 1px solid black;
	overflow: hidden;
}

/* ========== IMAGES ========== */
img {
}

/* ========== CONTENT ========== */
.content {
	clear: both;
	overflow: hidden;
}

.title {
	overflow: hidden;
}

.text {
	float: left;
	padding-right: 1.5em;
}

/* ================================================================ 
	LAYOUT END
================================================================  */



/* ================================================================ 
	LINKS START 
================================================================  */

/* ========== LINKS ========== */
a {
	color: #5ECBF4;
	text-decoration: none;

	/* ========== FADE TRANSITION ========== */
	-webkit-transition:color .3s ease-out, background .5s ease-in;
	-moz-transition:color 	.3s ease-out, background .5s ease-in;
	-o-transition:color 	.3s ease-out, background .5s ease-in;
  	-ms-transition:color 	.3s ease-out, background .5s ease-in;
  		transition:color 	.3s ease-out, background .5s ease-in;
}

	a:hover {
/*		color: #444444;*/
		color: #000000;
	}

	.onpage {
		color: #000000;
	}

/* ========== GRAYSCALE IMAGES ========== */

/* Images starts grey */
a.grey {
	-webkit-filter: grayscale(100%);
	-moz-filter: 	grayscale(100%);
	-o-filter: 		grayscale(100%);
	-ms-filter: 	grayscale(100%);
		filter: 	grayscale(100%);

	-webkit-transition: all 0.3s ease;
	-moz-transition:	all 0.3s ease;
	-o-transition: 		all 0.3s ease;
	-ms-transition: 	all 0.3s ease;
		transition: 	all 0.3s ease;
	}

	a.grey:hover {
		-webkit-filter: grayscale(0%);
		-moz-filter: 	grayscale(0%);
		-o-filter: 		grayscale(0%);
		-ms-filter:		grayscale(0%);
			filter: 	grayscale(0%);
	}

/* ================================================================ 
	LINKS END 
================================================================  */



/* ================================================================ 
	INDEX START 
================================================================  */

/* ========== IMAGES ========== */
#home .content img {
	margin: 1em 0;
}

/* ================================================================ 
	INDEX END 
================================================================  */