/*

	IAT 381: D401
	Project 3: Portfolio
	Janice Ng

	CSS file: Main Style

	1.Base  2.Grid  3.Layout  4.Links  5.IndexPage  6.AboutPage  7.WorksPage

*/

/* ================================================================ 
	BASE START 
================================================================  */

html, body {
	font-family: 'Istok Web', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400px;
	color: #000000;
/*	background-color: #DAE6EA;*/
	background-color: #DEE6EA;
}

html, body, ul, ol, li, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, p {
	border: 0;
	margin: 0;
	padding: 0;
}

	/* ========== FONT ========== */	
	h1 {
		font-size: 2.5em;
		color: #5ECBF4;
	}

	h2 {
		font-size: 1.5em;
		color: #5ECBF4;
	}

	h3 {
		font-size: 1.6em;
		font-weight: bold;
		color: #000000;
	}

	h4 {
		font-size: 1.2em;
		font-weight: bold;
		color: #000000;
	}

li {
	list-style: none;
}

/* ================================================================ 
	BASE END 
================================================================  */



/* ================================================================ 
	GRID START
================================================================  */

/* ========== CONTAINER ========== */
.container {
	margin: 0px auto;
	max-width: 960px;
/*	border: 1px solid black;*/
}

/* ========== COLUMNS ========== */

/* ---------- INDEX PAGE ---------- */
#home .column1, #home .column2, #home .column3 {
	float: right;
	padding-left: 3.5em;
}

/* ---------- ABOUT PAGE ---------- */
#about .column1, #about .column2, #about .column3, #about .column4 {
	/*width: 25%;*/
	float: right;
	padding: 0 1.2em;
	/*padding-left: 2.5em;*/
}

/* ---------- WORKS PAGE ---------- */
#invisiblechildren .column1, #invisiblechildren .column2, 
#pavilionofliterature .column1, #pavilionofliterature .column2, 
#ysclogo .column1, #ysclogo .column2,
#sis .column1, #sis .column2, 
#airlog .column1, #airlog .column2 {
	float: left;
	padding: 0 1.5em;
}

/* ========== ROWS ========== */
.graphics, .interactions, .products, .aboutme {
/*	border: 1px solid orange;*/
	clear: both;
}

/* ================================================================ 
	GRID END
================================================================  */



/* ================================================================ 
	LAYOUT START
================================================================  */

/* ========== HEADER ========== */
header {
	margin-bottom: 5em;
	overflow: hidden;
}

	.logo {
		width: 75%;
		/*text-align: left;*/
		float: left;
		padding-top: 2em;
	}

	.logo img {
		width: 30%;
		height: auto;
	}

/* ========== NAVBAR ========== */
nav {
	text-align: right;
}

	/* full line */
	/*nav ul {
		width: 78%;
		float: right;
		padding-top: 1.2em;
		margin-top: -6.75em;
		border-top: 4px solid black;
	}*/

	/* medium line */
	/*nav ul {
		width: 30%;
		float: right;
		padding-top: 1.2em;
		margin-top: -6.75em;
		border-top: 4px solid black;
	}*/

	/* short line */
	nav ul {
		width: 30%;
		float: right;
		margin-top: -6em;
	}

	nav ul li {
		display: inline;
		font-size: 1.6em;
		font-weight: bold;
		padding: .1em 0 0 2em;
		margin-left: 1em;
		border-top: 4px solid black;
}

/* ========== FOOTER ========== */
.footerwrapper {
	text-align: center;
	padding-top: 1em;
	margin-top: 3em;
	border-top: 1px solid black;
}

	footer p {
		font-size: 1.2em;
		padding-bottom: 1em;
	}

/* ========== WRAPPER ========== */
.wrapper {
	padding-top: 1.8em;
	border-bottom: 1px solid black;
	overflow: hidden;
}

/* ========== IMAGES ========== */
img {
}

/* ========== CONTENT ========== */
.content {
	clear: both;
	overflow: hidden;
}

.title {
	overflow: hidden;
}

.text {
	float: left;
	padding-right: 1.5em;
}

/* ================================================================ 
	LAYOUT END
================================================================  */



/* ================================================================ 
	LINKS START 
================================================================  */

/* ========== LINKS ========== */
a {
	color: #5ECBF4;
	text-decoration: none;

	/* ========== FADE TRANSITION ========== */
	-webkit-transition:color .3s ease-out, background .5s ease-in;
	-moz-transition:color 	.3s ease-out, background .5s ease-in;
	-o-transition:color 	.3s ease-out, background .5s ease-in;
  	-ms-transition:color 	.3s ease-out, background .5s ease-in;
  		transition:color 	.3s ease-out, background .5s ease-in;
}

	a:hover {
/*		color: #444444;*/
		color: #000000;
	}

	.onpage {
		color: #000000;
	}

/* ========== GRAYSCALE IMAGES ========== */

/* Images starts grey */
a.grey {
	-webkit-filter: grayscale(100%);
	-moz-filter: 	grayscale(100%);
	-o-filter: 		grayscale(100%);
	-ms-filter: 	grayscale(100%);
		filter: 	grayscale(100%);

	-webkit-transition: all 0.3s ease;
	-moz-transition:	all 0.3s ease;
	-o-transition: 		all 0.3s ease;
	-ms-transition: 	all 0.3s ease;
		transition: 	all 0.3s ease;
	}

	a.grey:hover {
		-webkit-filter: grayscale(0%);
		-moz-filter: 	grayscale(0%);
		-o-filter: 		grayscale(0%);
		-ms-filter:		grayscale(0%);
			filter: 	grayscale(0%);
	}

/* ================================================================ 
	LINKS END 
================================================================  */



/* ================================================================ 
	INDEX PAGE START 
================================================================  */

/* ========== IMAGES ========== */
#home .content img {
	margin: 1em 0;
}

/* ================================================================ 
	INDEX PAGE END 
================================================================  */



/* ================================================================ 
	ABOUT PAGE START 
================================================================  */

/* ========== CONTENT ========== */
.aboutmedescriptions {
	width: 73%;
	float: right;
	text-align: left;
	margin-top: 3em;
	clear: both;
}

	.aboutmedescriptions h2 {
		padding-bottom: 1em;
	}

	.aboutmedescriptions p {
		font-size: 1.2em;
		padding-bottom: 1em;
	}

.contact {
	float: left;
	clear: both;
	margin-top: .5em;
}

	.contact ul li{
		display: inline;
		padding-right: 3em;
	}

/* ========== IMAGES ========== */
#about .images {
	text-align: center;
	overflow: hidden;
	margin-top: 2em;
}

/* ================================================================ 
	ABOUT PAGE END 
================================================================  */



/* ================================================================ 
	WORKS PAGE START 
================================================================  */

/* ========== IMAGES ========== */

.images {
	overflow: hidden;
	margin-top: 2em;
}

	.descriptionsright ul li {
		margin-top: 1.5em;
	}

/* ========== VIDEOS ========== */

/* =========================================================
 * Video Responsive CSS Styles
 * Based on code found here: http://amobil.se/2011/11/responsive-embeds/
 * ========================================================= */

.vimeoplayer video,
.vimeoplayer iframe,
.vimeoplayer object,
.vimeoplayer embed {
	position: absolute;
	width: 55%;
	height: 45%;
}

/* ========== CONTENT ========== */

.descriptionsleft {
	width: 15%;
	float: left;
	clear: both;
}

.descriptionsright {
	width: 70%;
	float: left;
}

	.descriptionsleft p, .descriptionsright p{
		font-size: 1.3em;
		padding-bottom: 1.5em;
	}

	/* ---------- GRAPHICS: INVISIBLE CHILDREN ---------- */
	#invisiblechildren .descriptionsleft {
		padding: 5em 0 0 5em;
	}

	#invisiblechildren .descriptionsright {
		padding: 5em 0 0 4.8em;
	}

/* ---------- GRAPHICS: PAVILION OF LITERATURE ---------- */
	#pavilionofliterature .descriptionsleft {
		padding: 5em 0 0 5em;
	}

	#pavilionofliterature .descriptionsright {
		padding: 5em 0 0 4.8em;
	}

/* ---------- GRAPHICS: YSC LOGO ---------- */
	#ysclogo .descriptionsleft {
		padding: 5em 0 0 5em;
	}

	#ysclogo .descriptionsright {
		padding: 5em 0 0 4.8em;
	}

/* ---------- INTERACTIONS: SIS ---------- */
	#sis .descriptionsleft {
		padding: 20em 0 0 5em;
	}

	#sis .descriptionsright {
		padding: 20em 0 0 4.8em;
	}

/* ---------- INTERACTIONS: AIRLOG ---------- */
	#airlog .descriptionsleft {
		padding: 20em 0 0 5em;
	}

	#airlog .descriptionsright {
		padding: 20em 0 0 4.8em;
	}

/* ================================================================ 
	WORKS PAGE END 
================================================================  */